{{$noofreplicas := atoi (getv "/ndb/replicas" "2")}}
  
[ndbd default]
NoOfReplicas={{$noofreplicas}}
DataMemory=80M
ServerPort=2202
StartPartialTimeout=15000
StartPartitionedTimeout=0

[tcp default]
AllowUnresolvedHostnames=1

{{$nodeId := 1}}

{{$hosts := split (getv "/ndb/mgmd/hosts") ","}}
{{range $hosts}}
[ndb_mgmd]
NodeId={{$nodeId}}
Hostname={{.}}
DataDir=/var/lib/ndb
{{ $nodeId = add $nodeId 1 }}
{{ end }}

{{$hosts := split (getv "/ndb/ndbd/hosts") ","}}
{{range $hosts}}
[ndbd]
NodeId={{$nodeId}}
Hostname={{.}}
DataDir=/var/lib/ndb
ServerPort=1186
{{ $nodeId = add $nodeId 1 }}
{{ end }}

{{if exists "/ndb/api/hosts"}}
{{$hosts := split (getv "/ndb/api/hosts") ","}}
{{range $hosts}}
[mysqld]
NodeId={{$nodeId}}
Hostname={{.}}
{{ $nodeId = add $nodeId 1 }}
{{ end }}
{{ end }}

{{$nodeMax := add $nodeId 4}}
{{range seq $nodeId (add $nodeId 4)}}
[mysqld]
{{ end }}